/**
 * An example of a colour palette to be used with guss-colours
 *
 * If you're looking for the guardian colour palette: https://github.com/guardian/pasteup-palette
 * 
 * @type Map
 *
 * @group colours
 */
/**
 * Get a colour from a given colour palette.
 * 
 * @param {String} $name                    - colour to get
 * @param {Map}    $palette ($guss-colours) - palette
 *
 * @requires {variable} guss-colours
 *
 * @return {Color | Null}
 *
 * @group colours
 */
/**
 * Generate helper classes for a given colour palette  
 * Outputs rules such as: `.c-red { color: red; }`.
 *
 * @param {Map}    $palette  ($guss-colours) - palette
 * @param {String} $prefix   ("c-")          - prefix
 * @param {String} $property ("color")       - property
 *
 * @requires {variable} guss-colours
 *
 * @group colours
 */
/**
 * Default colour palette
 *
 * @type Map
 *
 * @group colours
 */
html {
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em 3em;
  background: #545454;
  font: 400 1em/1.5 'Helvetica Neue', sans-serif;
  color: #ffffff;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 100 6em/1 'Helvetica Neue', sans-serif;
}

a {
  color: #ffffff;
}

.clear {
  margin: 2em;
  border-top: 1px solid #767676;
}

.b-guardian-brand {
  background-color: #005689;
}

.b-guardian-brand-light {
  background-color: #94b1ca;
}

.b-guardian-brand-dark {
  background-color: #00456e;
}

.b-error {
  background-color: #d61d00;
}

.b-success {
  background-color: #4a7801;
}

.b-neutral-1 {
  background-color: #333333;
}

.b-neutral-2 {
  background-color: #767676;
}

.b-neutral-3 {
  background-color: #bdbdbd;
}

.b-neutral-4 {
  background-color: #dcdcdc;
}

.b-neutral-5 {
  background-color: #dfdfdf;
}

.b-neutral-6 {
  background-color: #eaeaea;
}

.b-neutral-7 {
  background-color: #f1f1f1;
}

.b-neutral-8 {
  background-color: #f6f6f6;
}

.b-news-main-1 {
  background-color: #005689;
}

.b-news-main-2 {
  background-color: #4bc6df;
}

.b-news-support-1 {
  background-color: #aad8f1;
}

.b-news-support-2 {
  background-color: #197caa;
}

.b-news-support-3 {
  background-color: #69d1ca;
}

.b-news-support-4 {
  background-color: #66a998;
}

.b-news-support-5 {
  background-color: #aad801;
}

.b-news-support-6 {
  background-color: #63717a;
}

.b-features-main-1 {
  background-color: #7d0068;
}

.b-features-main-2 {
  background-color: #b82266;
}

.b-features-support-1 {
  background-color: #951c55;
}

.b-features-support-2 {
  background-color: #4e0375;
}

.b-features-support-3 {
  background-color: #fdadba;
}

.b-features-support-4 {
  background-color: #dc2a7d;
}

.b-comment-main-1 {
  background-color: #c05303;
}

.b-comment-main-2 {
  background-color: #ff9b0b;
}

.b-comment-support-1 {
  background-color: #7d7569;
}

.b-comment-support-2 {
  background-color: #efefec;
}

.b-comment-support-3 {
  background-color: #ffce4b;
}

.b-comment-support-4 {
  background-color: #e6711b;
}

.b-multimedia-main-1 {
  background-color: #333333;
}

.b-multimedia-main-2 {
  background-color: #ffbb00;
}

.b-multimedia-support-1 {
  background-color: #c5d4ea;
}

.b-multimedia-support-2 {
  background-color: #507892;
}

.b-multimedia-support-3 {
  background-color: #002c59;
}

.b-multimedia-support-4 {
  background-color: #484848;
}

.b-live-main-1 {
  background-color: #b51800;
}

.b-live-main-2 {
  background-color: #cc2b12;
}

.b-live-support-1 {
  background-color: #ff5b3a;
}

.b-live-support-2 {
  background-color: #800c0c;
}

.b-live-support-3 {
  background-color: #a60947;
}

.b-maps-main-1 {
  background-color: #1c6326;
}

.b-maps-main-2 {
  background-color: #298422;
}

.b-maps-support-1 {
  background-color: #ceb41d;
}

.b-maps-support-2 {
  background-color: #a9af2b;
}

.b-maps-support-3 {
  background-color: #5ebfba;
}

.b-maps-support-4 {
  background-color: #72af7e;
}

[class^=b-] {
  display: inline-block;
  width: 10em;
  height: 10em;
  margin: 0 1em 1em 0;
  border-radius: 50%;
  vertical-align: middle;
  border: 4px solid #fff;
  text-align: center;
  text-shadow: #ffffff 0 0 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  color: #333333;
}

.colour-name,
.colour-value {
  font-size: 1em;
  width: 90%;
  display: inline-block;
}

.colour-name {
  margin-top: calc(50% - 3em);
}

.b-guardian-brand {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-guardian-brand:before {
  visibility: hidden;
  content: "guardian-brand";
}

.b-guardian-brand-light {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-guardian-brand-light:before {
  visibility: hidden;
  content: "guardian-brand-light";
}

.b-guardian-brand-dark {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-guardian-brand-dark:before {
  visibility: hidden;
  content: "guardian-brand-dark";
}

.b-error {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-error:before {
  visibility: hidden;
  content: "error";
}

.b-success {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-success:before {
  visibility: hidden;
  content: "success";
}

.b-neutral-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-neutral-1:before {
  visibility: hidden;
  content: "neutral-1";
}

.b-neutral-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-neutral-2:before {
  visibility: hidden;
  content: "neutral-2";
}

.b-neutral-3:before {
  visibility: hidden;
  content: "neutral-3";
}

.b-neutral-4:before {
  visibility: hidden;
  content: "neutral-4";
}

.b-neutral-5:before {
  visibility: hidden;
  content: "neutral-5";
}

.b-neutral-6:before {
  visibility: hidden;
  content: "neutral-6";
}

.b-neutral-7:before {
  visibility: hidden;
  content: "neutral-7";
}

.b-neutral-8:before {
  visibility: hidden;
  content: "neutral-8";
}

.b-news-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-main-1:before {
  visibility: hidden;
  content: "news-main-1";
}

.b-news-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-main-2:before {
  visibility: hidden;
  content: "news-main-2";
}

.b-news-support-1:before {
  visibility: hidden;
  content: "news-support-1";
}

.b-news-support-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-support-2:before {
  visibility: hidden;
  content: "news-support-2";
}

.b-news-support-3 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-support-3:before {
  visibility: hidden;
  content: "news-support-3";
}

.b-news-support-4 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-support-4:before {
  visibility: hidden;
  content: "news-support-4";
}

.b-news-support-5 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-support-5:before {
  visibility: hidden;
  content: "news-support-5";
}

.b-news-support-6 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-news-support-6:before {
  visibility: hidden;
  content: "news-support-6";
}

.b-features-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-features-main-1:before {
  visibility: hidden;
  content: "features-main-1";
}

.b-features-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-features-main-2:before {
  visibility: hidden;
  content: "features-main-2";
}

.b-features-support-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-features-support-1:before {
  visibility: hidden;
  content: "features-support-1";
}

.b-features-support-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-features-support-2:before {
  visibility: hidden;
  content: "features-support-2";
}

.b-features-support-3:before {
  visibility: hidden;
  content: "features-support-3";
}

.b-features-support-4 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-features-support-4:before {
  visibility: hidden;
  content: "features-support-4";
}

.b-comment-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-comment-main-1:before {
  visibility: hidden;
  content: "comment-main-1";
}

.b-comment-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-comment-main-2:before {
  visibility: hidden;
  content: "comment-main-2";
}

.b-comment-support-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-comment-support-1:before {
  visibility: hidden;
  content: "comment-support-1";
}

.b-comment-support-2:before {
  visibility: hidden;
  content: "comment-support-2";
}

.b-comment-support-3 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-comment-support-3:before {
  visibility: hidden;
  content: "comment-support-3";
}

.b-comment-support-4 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-comment-support-4:before {
  visibility: hidden;
  content: "comment-support-4";
}

.b-multimedia-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-multimedia-main-1:before {
  visibility: hidden;
  content: "multimedia-main-1";
}

.b-multimedia-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-multimedia-main-2:before {
  visibility: hidden;
  content: "multimedia-main-2";
}

.b-multimedia-support-1:before {
  visibility: hidden;
  content: "multimedia-support-1";
}

.b-multimedia-support-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-multimedia-support-2:before {
  visibility: hidden;
  content: "multimedia-support-2";
}

.b-multimedia-support-3 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-multimedia-support-3:before {
  visibility: hidden;
  content: "multimedia-support-3";
}

.b-multimedia-support-4 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-multimedia-support-4:before {
  visibility: hidden;
  content: "multimedia-support-4";
}

.b-live-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-live-main-1:before {
  visibility: hidden;
  content: "live-main-1";
}

.b-live-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-live-main-2:before {
  visibility: hidden;
  content: "live-main-2";
}

.b-live-support-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-live-support-1:before {
  visibility: hidden;
  content: "live-support-1";
}

.b-live-support-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-live-support-2:before {
  visibility: hidden;
  content: "live-support-2";
}

.b-live-support-3 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-live-support-3:before {
  visibility: hidden;
  content: "live-support-3";
}

.b-maps-main-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-main-1:before {
  visibility: hidden;
  content: "maps-main-1";
}

.b-maps-main-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-main-2:before {
  visibility: hidden;
  content: "maps-main-2";
}

.b-maps-support-1 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-support-1:before {
  visibility: hidden;
  content: "maps-support-1";
}

.b-maps-support-2 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-support-2:before {
  visibility: hidden;
  content: "maps-support-2";
}

.b-maps-support-3 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-support-3:before {
  visibility: hidden;
  content: "maps-support-3";
}

.b-maps-support-4 {
  text-shadow: 0 0 3px #000000;
  font-weight: 200;
  color: #ffffff;
}
.b-maps-support-4:before {
  visibility: hidden;
  content: "maps-support-4";
}
