/**
 * Default colour palette
 *
 * @type Map
 *
 * @group colours
 */
$pasteup-palette: (
    guardian-brand:         #005689,
    guardian-brand-light:   #94b1ca,
    guardian-brand-dark:    #00456e,

    error:                  #d61d00,
    success:                #4a7801,

    // Neutral palette
    neutral-1:              #121212,
    neutral-2:              #999999,
    neutral-3:              #f6f6f6,
    neutral-4:              #dcdcdc,
    neutral-5:              #ffffff,
    neutral-6:              #767676,
    neutral-7:              #444444,
    neutral-8:              #ededed,

    // News palette
    news-main-1:            #005689,
    news-main-2:            #4bc6df,
    news-support-1:         #aad8f1,
    news-support-2:         #197caa,
    news-support-3:         #69d1ca,
    news-support-4:         #66a998,
    news-support-5:         #aad801,
    news-support-6:         #63717a,
    news-support-7:         #484f53,

    // Features palette
    features-main-1:        #7d0068,
    features-main-2:        #b82266,
    features-support-1:     #951c55,
    features-support-2:     #4e0375,
    features-support-3:     #fdadba,
    features-support-4:     #dc2a7d,

    // Comment palette
    comment-main-1:         #c05303,
    comment-main-2:         #ff9b0b,
    comment-support-1:      #7d7569,
    comment-support-2:      #efefec,
    comment-support-3:      #ffce4b,
    comment-support-4:      #e6711b,

    // Multimedia palette
    multimedia-main-1:      #333333,
    multimedia-main-2:      #ffbb00,
    multimedia-support-1:   #c5d4ea,
    multimedia-support-2:   #507892,
    multimedia-support-3:   #002c59,
    multimedia-support-4:   #484848,
    multimedia-support-5:   #161616,

    // Live palette
    live-main-1:            #b51800,
    live-main-2:            #cc2b12,
    live-support-1:         #ff5b3a,
    live-support-2:         #800c0c,
    live-support-3:         #a60947,

    // Maps palette
    maps-main-1:            #1c6326,
    maps-main-2:            #298422,
    maps-support-1:         #ceb41d,
    maps-support-2:         #a9af2b,
    maps-support-3:         #5ebfba,
    maps-support-4:         #72af7e,

    // External content palette
    external-main-1:        #1c6326,
    external-support-1:     #a9af2b,

    news-garnett-main-1:    #c70000, //used for kicker
    news-garnett-feature:   #880105, //used for feature head
    news-garnett-media-main-1: #ff4e36, // used for kicker on media
    news-garnett-highlight: #ffe500,

    opinion-garnett-main-1: #e05e00,
    opinion-garnett-feature: #bd5318,
    opinion-garnett-media-main-1: #ff7f0f,
    opinion-garnett-background: #fef9f5,

    sport-garnett-main-1: #0084c6,
    sport-garnett-feature: #005689,
    sport-garnett-media-main-1: #00b2ff,

    culture-garnett-main-1: #a1845c,
    culture-garnett-feature: #6b5840,
    culture-garnett-media-main-1: #eacca0,

    lifestyle-garnett-main-1: #bb3b80,
    lifestyle-garnett-feature: #7d0068,
    lifestyle-garnett-media-main-1: #ffabdb,

    immersive-garnett-main-1: rgba(0, 0, 0, .65),
    analysis-garnett-underline: #ffbac8,

    // This is only for use of the subnav in the header
    subnav-grey: #5c6268,

    // Football

    sport-bright:           #70d2e6,
    sport-mid:              #005689,
    sport-dark:             #003f64,

    sport-home:             #70d2e6,
    sport-away:             #003f64,

    // Statuses

    status-positive-garnett:   #bbce00,
    status-neutral-garnett:    #767676,
    status-negative-garnett:   #d61d00,



    // Quiz colours

    quiz-correct:           #3db540,
    quiz-incorrect:         #c3021b,

    // Social

    social-email:           #767676,
    social-facebook:        #3067a3,
    social-twitter:         #03b3ee,
    social-gplus:           #e15440,
    social-whatsapp:        #59cb3f,
    social-linkedin:        #0071a1,
    social-pinterest:       #b9252c,
    social-messenger:       #0084ff,


    // Membership

    membership-default:     #bb3a7f,


    // Identity

    identity-main:          #121212,

    // Commercial content

    paid-article:              #d9d9d9,
    paid-article-header:       #bfbfbf,
    paid-article-header-bg:    #b8b8b8,
    paid-article-subheader:    #cccccc,
    paid-article-subheader-bg: #c4c4c4,
    paid-article-card-bg:      neutral-8,
    paid-article-media-bg:     #bbb7b1,
    paid-article-icon:         #767676,
    paid-article-brand:        #69d1ca,
    paid-article-mpu:          #cccccc,
    paid-article-richlink:     #65a897,
    rainbow-red:               #ed1c24, // from Guss

    paid-card-kicker:          #626262,

    c-top-header-background:   #00456e, // one-off colour for header bg

);
